* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(180deg, rgba(208, 0, 255, 0.356), rgba(0, 247, 255, 0.356));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

button {
  width: 10vh;
  height: 5vh;
  background-color: whitesmoke;
}

main {
  box-sizing: initial;
  width: 900px;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.287);
  
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
  padding: 25px 50px;

  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 3.3px;
}

.subtitle {
  text-align: left;
}

.topics {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 25px;
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sub-btn::before {
  content: '└──';
  display: block;
  color: #19e68c;
  text-shadow: .5px .5px 0px rgba(0, 0, 0, 0.424);
  width: 16px;
  height: 16px;
  position: relative;
  left: -33px;
  top: 10px
} */

.topics btn {
  flex: auto;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: .13;
}

.item-a button,
.topics button {
  margin-bottom: 10px;
}


/* .item-b {
  grid-area: sidebar;
} */

/* .container {
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "sidebar main";
} */

